{% include "header.html" %}


  <!--top nav-->
  {% include "topnav.html" %}
   <!--top nav end-->

<!--Side nav-->
  {% include "sidenav.html" %}
<!--Sidenav end-->

		<div class = "col-md-10 d-none d-md-block bg-custom2 ">
			<div class="description">
				<h2 class="title3">Add New Game</h2>
				<hr class="style1">

        <form action="#" class="container was-validated" novalidate="" id="needs-validation" method = 'POST'>
				
       <!--  <h4 class="category">Title</h4> -->
        <h4><label class="form-control-label category" for="inputSuccess2">Title</label></h4>
       <!--  <input type="text" name="title" size="30" class="form-control" id="validationTooltipUsername" required> -->
        <input type="text" class="form-control" name="title" required="" id="inputSuccess2">
        <div class="invalid-feedback">Please choose a unique and valid Title.</div>
        <!-- <div class="invalid-tooltip">
          Please choose a unique and valid Title.
        </div> -->
      
      <!--   <h4 class="category">Description</h4> -->
        <h4><label class="form-control-label category" for="inputSuccess2">Description</label></h4>

        <textarea name="description" cols="20" rows="5" class="form-control" id="inputSuccess2" required=""></textarea>
        

        <h4 class="category">Image Link</h4>
        <input type="text" name="picture" size="30">

        <h4 class="category">Store Link</h4>
        <input type="text" name="link" size="30">

        <h4 class="category">Category</h4>
        <select name="category" placeholder="Select category">
        <option value ='Action' >Action</option>
        <option value ='Adventure' >Adventure</option>
        <option value ='Casual' >Casual</option>
        <option value ='MMO' >MMO</option>
        <option value ='Racing' >Racing</option>
        <option value ='RPG' >RPG</option>
        <option value ='Simulation' >Simulation</option>
        <option value ='Sports' >Sports</option>
        <option value ='Strategy' >Strategy</option>
      </select>

      <h4 class="category">Home Page pic</h4>
        <input type="text" name="cover_pic" size="30">

    <div class="bd">
    <input class="btn btn-primary btn-custom" type='submit' value='Add'>
    
    <a class="btn btn-light" href="{{url_for('showcatalog')}}">Cancel</a>
    </div>

    
	</form>
			</div>
		</div>
	</div>
</div> 


	
{% include "footer.html" %}

<script>
    (function() {
  "use strict";
  window.addEventListener("load", function() {
    var form = document.getElementById("needs-validation");
    form.addEventListener("submit", function(event) {
      if (form.checkValidity() == false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add("was-validated");
    }, false);
  }, false);
}());
</script>