{% include "header.html" %}


  <!--top nav-->
  {% include "topnav.html" %}
   <!--top nav end-->



<div class="container">
  <div class="loginForm col-lg-5 col-md-8 col-sm-8 p-4">
    <div class="loginHeader pt-3 pb-4">
      <h4>Register</h4>
      
    </div>
    <div class="loginBody">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-lg" name="username" placeholder="Username...">
          <div class="input-group-append">
            <span class="input-group-text p-3"><i class="fa fa-user"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-lg" name="email" placeholder="Email...">
          <div class="input-group-append">
            <span class="input-group-text p-3"><i class="fa fa-envelope"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="password" class="form-control form-control-lg" name="username" placeholder="Password...">
          <div class="input-group-append">
            <span class="input-group-text p-3"><i class="fa fa-lock"></i></span>
          </div>
        </div>
      </div>

      <div class="text-right form-group">
        <a href="#">Forgot password ?</a>
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-lg btn-primary btn-custom3">Login</button>
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-lg btn-light ">Cancel</button>
      </div>
    </div>
  </div>
</div>

	
	<!--jquery-->
<script src="js/jquery/jquery.js"></script>

<!-- bootstrap JS -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- custom JS -->
<script src="js/custom.js"></script>

</body>
</html>