{% include "header.html" %}


  <!--top nav-->
  {% include "topnav.html" %}
   <!--top nav end-->

<!--Side nav-->
  {% include "sidenav.html" %}
<!--Sidenav end-->
		<div class = "col-md-10 d-none d-md-block bg-custom2 ">
			<div class="greyed">
          
        
        <h4><a class="extra" href="{{url_for('newitem')}}"><i class="fas fa-plus"></i>Add Item</a></h4>
        
        <h4></h4>
        
        

				<h2 class="title3"> {{title}} ({{count}})Items </h2>
                 {% with messages = get_flashed_messages() %}
        {% if messages %}
        
        <ul>
        {% for message in messages %}
          
          <div class="alert alert-success" role="alert">
            {{message}}
          </div>
        
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
				<hr class="style1">
				<ul>
          {% for i in listcatalogs %}
				<li>
				<h4><a href="{{url_for('showitem', catalog_category = i.category, catalog_title=i.title)}}">{{i.title}}</a></h4>

        <p><a class= "right-img" href="{{url_for('showitem', catalog_category = i.category, catalog_title=i.title)}}">
          <img src="{{i.cover_pic}}" alt="game-img"></a></p>
				</li>
				{% endfor %}
				</ul>
				
			</div>
		</div>
	</div>
</div> 


	
{% include "footer.html" %}