{% include "header.html" %}


  <!--top nav-->
  {% include "topnav.html" %}
   <!--top nav end-->

<!--Side nav-->
  {% include "sidenav.html" %}
<!--Sidenav end-->
		<div class = "col-md-10 d-none d-md-block bg-custom2 ">
			<div class="content">
         {% with messages = get_flashed_messages() %}
        {% if messages %}
        
        
        {% for message in messages %}
          
          <div class="alert alert-success" role="alert">
            {{message}}
          </div>
        
          {% endfor %}
        
        {% endif %}
        {% endwith %}



				<h2 class="title3">{{displaycontent.title}}</h2>
				<hr class="style1">
				<h4>Description</h4>
        <p>{{displaycontent.content}}</p>
        <a href="{{displaycontent.link}}">
        <img src="{{displaycontent.picture}}" alt="game-img" ></a>
        <br><br>

        <a aria-hidden="true" href="{{url_for('edititem', catalog_title = displaycontent.title)}}">Edit</a> |
      <a aria-hidden="true" href="{{url_for('deleteitem', catalog_title = displaycontent.title)}}">Delete</a>
    
      <h4></h4>

			</div>

       <div class="col-md-10 d-none d-md-block comment ">
      <div class="content">
  
          
          
            
          </div>
 


        <h3 class="title3">Comments</h3>
        <hr class="style1">
        
    
      {% for i in comment %}
      <div class="media comment-box">
            <div class="media-left">
                <a href="#">
                    <img class="img-responsive user-photo" src="{{i.picture}}" width="50" height="auto">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{i.name}}</h4>
                <p>{{i.content}}</p>
              
            </div>
        </div>
        {% endfor %}
        <h4><a class="comment-icon" href="{{url_for('newcomment', catalog_title = displaycontent.title, catalog_category=displaycontent.category)}}"><i class="fas fa-comment"></i>Add Comment</a></h4>

      </div>
  
		</div>
	</div>
</div> 



	
{% include "footer.html" %}