<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand title" href="{{url_for('showcatalog')}}">Games Catalog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('showcatalog')}}">Home</a>

      <form class ="form-inline" method="GET" action="search" name="search">
        <div class="form-group">
          
          <input type="text" class="form-control" name="query" id = "query" placeholder="Search">
          <div class="input-group-addon" style="margin-left: -50px; z-index: 3; border-radius: 40px; background-color: transparent; border:none;">
            <button class="btn btn-warning btn-sm search" type="submit" style="border-radius: 20px;" id="search-btn" value="search"></a><i class="fa fa-search"></i></button>
          </div>
        </div>
        <!-- <div class="input-group">
          <input class="form-control search" type="submit" placeholder="Search" aria-label="Search" id="mysearch" value="search">
          <div class="input-group-addon" style="margin-left: -50px; z-index: 3; border-radius: 40px; background-color: transparent; border:none;">
            <button class="btn btn-warning btn-sm search" type="submit" style="border-radius: 20px;" id="search-btn" value="search"><a href="{{url_for('search')}}"></a><i class="fa fa-search"></i></button>
          </div>
      </div>
 -->    

</form>
    
      </li>
      
    </ul>
    <ul class="navbar-nav">
      
    </ul>
    {%if 'username' not in session %}
<!--     <button type="button" href="{{url_for('showLogin')}}" class="btn btn-light space">LogIn</button> -->

    <a role="button" href="{{url_for('showLogin')}}" class="btn btn-light space">LogIn</a>

    <a role="button" href="{{url_for('showLogin')}}" class="btn btn-light space">Register</a>


    {% else %}

   <a role="button" href="{{url_for('gdisconnect')}}" class="btn btn-light space">Logout</a>
     {% endif %}
  </div>
</nav>
